<div class="container">
    <div class="jumbotron">
        <h1 style="color: rgb(62, 145, 218);">Bienvenido</h1>
        <h4>Generador de código 3 direcciones</h4>
        <p style="font-size: 0.8em;">creado por Ronald Romero 201701048</p>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h1>Entrada</h1>
            <ngx-codemirror [(ngModel)]="entrada" [options]="{
                            lineNumbers: true,
                            theme: 'dracula',
                            mode: 'javascript',
                            matchBrackets: true
                        }"></ngx-codemirror>
                        <button class="btn btn-primary" (click)="analizar();"> Evaluar</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Salida</h1>
            <ngx-codemirror [(ngModel)]="salida" [options]="{
                lineNumbers: true,
                theme: 'dracula',
                mode: 'javascript',
                matchBrackets: true
            }"></ngx-codemirror>
        </div>
    </div>
</div>